#cartcont {
  width: 80%;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  gap: 30px;
}
h1 {
  margin: 4rem;
  margin-bottom: 20px;
  top: 2px;
  position: sticky;
  z-index: 2;
}
#dishescont {
  flex: 3;
  /* background-color: #f8f9fa; */
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 3rem;
  z-index: 1;
}
#dishescont img {
  width: 100px;
  height: 100px;
}
.cartitem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.detail p {
  color: #f97316;
}

#dishescont > div {
  width: 80%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
#summary {
  flex: 1;
  padding: 20px 40px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  height: fit-content;
}
#summary button {
  width: 80%;
  margin: 10px;
  padding: 10px 20px;
  background-color: #f97316;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#dishescont h4 {
  margin: 2px;
}
.quantity-controls {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid rgb(137, 137, 137);
}
.quantity-controls button {
  border: none;
  background-color: transparent;
}
.delete-btn {
    background-color: #f97316;
    font-size: 12px;
    color: white;
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
    margin-top: 4px;
}
#subprice,#delivprice,#totalprice{
    display: flex;
    align-items: center;
    justify-content: space-between;
}