#login{
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#login input{
    padding: 10px;
    margin-top: 0px;
    border-radius: 5px;
    border: 1px solid #f9700d;
    outline: none;
    width: 70%;
    margin-bottom: 10px;
}
#login h2{
    color: #f9700d;
    margin: 0px;
    padding: 0px;
}
#login button {
    padding: 10px 20px;
    background-color: #f9700d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}
#login p {
    color: black;
    font-size: small;
}
#login p a {
    color:black;
    text-decoration: underline;
}